* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body {
    background-image: linear-gradient(180deg, black, blue, aqua, blue, black);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#print-screen {
    background-color: antiquewhite;
    font-size: 1.5rem;
    color: black;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: right;
}

.button {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 10px;
}

.button>#igual {
    width: 100px;
    grid-column: 3/5;
}

.button>#clean {
    width: 100px;
    grid-column: 1/3;
}